*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Helventica, Arial, sans-serif;
}

/**
1. Vi tri
2. kich thuoc(width, height)
3. mau sac
4. kieu dang(kieu chu, hinh tron, vuong)
**/

/*
 1. tu ngoai vao trong
 2. tuwf treen xuong duoiws
 3. tong quan den chi tieets
*/

#main{

}
#header{
	width: 100%;
	height: 46px;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	
}

#nav{
	display: flex;
	list-style-type: none;
}

#header .search-btn{
		margin-left: auto;
	padding: 0 21px;
	cursor: pointer;
	
}

#header .search-btn:hover{
	background-color: #f44336;
	
}

#header .search-icon{
	color: #fff;
	font-size:20px;
	line-height: 46px;
	
}

#nav >li >a{
	color: #fff;

}

#nav li a{
	
	text-decoration: none;
	line-height: 46px;
	padding: 0 24px;
	display: block;
}



#nav li a:hover{
	background-color: #ccc;
	color: #000;
	
	
}

#nav .subnav li a:hover {
	background: #ccc;
	color: #000;
	
}

#nav .subnav{
	position: absolute;
	list-style-type: none;
	display: none;
	  box-shadow: 4px 4px 4px #888888;
 	
	
	
}

#nav .subnav li a {
	background: #fff;
	color: #000;
}

.subnav li a{
	height: auto;
	
}

#nav :hover .subnav{
    display: unset;
}

#search li{
	color: black;
	font-size: 20px;
}



#slider{
  margin-top: 46px;
  padding-top: 50%;
  background-image: url('./img/chicago.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#slider .slider-content{
	position: absolute;
	bottom: 47px;
	color: #fff;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-weight: bold;
}

#slider .slider-heading{
	font-weight: 500;
	
	font-weight: bold;
}

#slider .slider-description{
	font-weight: 500;
	margin-top: 24px;
	font-size: 16px;
	font-weight: bold;
}


#content{
	

}
#tourdate{

}
#contact{

}
#imagefooter{

}
#footer{

}